/**
* GLOBAL STYLES
* Imported once at the top level
* Used everywhere
*/
@import "fonts";
@import "theme";

* {
  box-sizing: border-box;
}

p,
span {
  font-family: $font-family;
  line-height: 20px;
  size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-family-title;
}

svg,
img {
  // TODO: get rid of this once chakra is more integrated
  display: inline !important;
}

:root {
  --background: #ffffff;
  --background-element: rgba(255, 255, 255, 0.75);
  --background-element-hover: rgba(255, 255, 255, 0.88);
  --background-main: #ffffff url("../assets/bg_light.svg") center/auto 60%
    no-repeat fixed;
  --background-logo: #{$primary};
  --outline: #000;

  --text: #000;
  --text-darker: #000;
  --text-title: #{$text-black};
  --text-selected: #{$text-black};
  --header-text: #1f2023;
  --sign-graph: #000;

  --shadow: 0px 2px 8px rgba(39, 14, 1, 0.1);
  --shadow-hover: 2px 2px 12px rgba(68, 64, 64, 0.2);

  --active-li-bg: linear-gradient(
    to bottom,
    transparent 20%,
    #{$divider-red} 20% 80%,
    transparent 80%
  );
  --active-li-text: #{$text-white};
}

// Dark mode themes
body.dark {
  --background: #000;
  --background-element: rgba(0, 0, 0, 0.75);
  --background-element-hover: rgba(0, 0, 0, 0.8);
  --background-main: #000 url("../assets/bg.svg") center/auto 60% no-repeat
    fixed;
  --background-logo: #{$primary};
  --outline: #fff;

  --text: #fff;
  --text-darker: #fff;
  --text-title: #fff;
  --text-selected: #{$primary};
  --header-text: #{$primary};
  --sign-graph: #{$primary-blue};

  --shadow: 0px 2px 8px rgba(39, 14, 1, 0.18);
  --shadow-hover: 2px 2px 12px rgba(68, 64, 64, 0.14);

  --active-li-bg: linear-gradient(
    to bottom,
    transparent 20%,
    #{$white} 20% 80%,
    transparent 80%
  );
  --active-li-text: #{$text-black};
}
